/* src/App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #ecb67f;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #d8e0e7;
}

form {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
}

form div {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  background: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  margin: 10px; /* Espaciado entre las cajas */
  padding: 20px; /* Espaciado dentro de las cajas */
  width: calc(33.333% - 40px); /* Tres cajas por fila con espaciado */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

li {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}
